apache-airflow==2.9.2
matplotlib
seaborn
pytest
omegaconf
zenml==0.58.2
feast
great_expectations
dvc
hydra-core
pytest
pandas
scikit-learn
pendulum
shyaml
mlflow
giskard
evidently
Flask
flask-session2
psycopg2-binary
pyyaml
pip install gradio==3.50.2
